.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.App__body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
  border: 2px solid blue;
}

.App__body__info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border: 2px solid red;
}

.info__table {
  border: 2px solid green;
  margin: 2rem;
}

.info__details{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  border: 2px solid yellow;
  margin: 2rem;
}