.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    /* z-index: 0.2;
    transition-timing-function: ease-in;
    transition: all 0.1s; */
    background-color: white;
}

/* .header__white{
    
} */

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {
    margin: 0 20px;
}

.navbar__nav {
    display: flex;
    margin: 0;
}

.navbar__nav , .navbar__nav1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.navbar__nav__options {
    display: flex;
    padding: 2rem;
}
