.report{
    display: flex;
    flex-flow: column nowrap;
    margin: 2rem 0;
    width: 100%;
    border-radius: 30px;
    justify-content: space-evenly;;
    background-color: gainsboro;
    align-items: center;
    height: 210px;
    padding: 0 100px;
}
