.address__wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.address__header {
    display: flex;
    background-color: gray;
    padding: 1rem;
    width: 100%;
}

.address {
    display: flex;
    padding: 2rem
}
